* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    overflow: hidden;
}
input,
button {
    background: none;
    border: 1px solid black;
    outline: none;
}
button:hover {
    cursor: pointer;
}
main {
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* Barra Lateral */

#side-bar {
    display: flex;
    flex-direction: column;
    min-width: 30%;
    height: 100%;
    border: 1px solid black;
    overflow: auto;
}
#open-rooms,
#connected-users {
    width: 100%;
    height: auto;
}
.content {
    background-color: rgba(0, 0, 0, .2);
}
.users,
.rooms,
.content {
    padding: 1rem .5rem 1rem .5rem;
}

/* Salas */

.rooms {
    background-color: rgba(0, 0, 0, .2);
}

/* Criar Salas */

#create-room {
    display: flex;
    width: 100%;
}
#name-room {
    padding: 1rem .5rem 1rem .5rem;
    width: 80%;
}
#create-room-submit {
    width: 20%;
}

/* Usuário */

.users,
.rooms {
    background-color: rgba(255, 0, 0, 0.2);
}

/* Chat */

#chat {
    width: auto;
    height: 100%;
    border: 1px solid black;
    overflow: auto;
}
